.gifmojify {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

div.setting {
  margin: 10px 0;
}

div.setting h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}