<div *ngIf="image">
  <h1>Gifmojify!</h1>
  <div style="display: flex; gap: 32px; align-items: flex-start;">
    <div>
      <img [src]="imageUrl" alt="Uploaded Image" style="max-width:256px; max-height:256px; border: 1px solid #ccc;" />
      <div style="text-align:center;">Original</div>

      <div class="setting">
        <h3>Style</h3>
        <select [(ngModel)]="selectedStyle" (ngModelChange)="refresh()">
          <option *ngFor="let style of styles" [value]="style">{{ style }}</option>
        </select>
      </div>

      <ng-container *ngFor="let item of action?.settings | keyvalue">
        <div class="setting">
          <p *ngIf="item.value.type === 'checkbox'">
            <input type="checkbox" [(ngModel)]="item.value.value" id="{{item.key}}" />
            <label for="{{item.key}}">{{item.value.name}}</label>
          </p>
          <ng-container *ngIf="item.value.type === 'number' || item.value.type === 'text'">
            <h3>{{item.value.name}}</h3>
            <input
                type="{{item.value.type}}"
                [(ngModel)]="item.value.value"
                id="{{item.key}}"
                step="{{item.value.steps}}" />
          </ng-container>
        </div>
      </ng-container>

      <div style="margin-top:16px;">
        <button (click)="refresh()">Regenerate</button>
      </div>
    </div>
    <div *ngIf="gifUrl">
      <img [src]="gifUrl" alt="Output GIF" style="border: 1px solid #ccc;" />
      <div style="text-align:center;">Output</div>
    </div>
  </div>
</div>
<div *ngIf="!image">
  <h1>No image uploaded</h1>
</div>